<%
  useless_code=measure('total-useless-lines')
  if useless_code
%>
<table width="100%">
  <tbody>
    <tr>
      <td valign="top">
        <div class="dashbox">
          <p class="title"><%= message('widget.useless-code-tracker.name') %></p>
          <p><span class="big"><%= format_measure(useless_code) -%></span><%= tendency_icon('total-useless-lines') -%></p>          
          <p><%= format_measure( 'useless-duplicated-lines', :suffix => ' ' + message('widget.useless-code-tracker.duplicated-lines.suffix'), :url => url_for_drilldown('duplicated_lines'), :default => message('widget.useless-code-tracker.duplicated-lines.default')) -%><%= tendency_icon('useless-duplicated-lines') -%></p>
        </div>
      </td>
      <td valign="top">
        <div class="dashbox">
          <p class="title"></p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<%
  end
%>